<template>
  <div>
    <FunctionPopup />
    <v-btn @click="toggleDark" icon>
      <v-icon>mdi-invert-colors</v-icon>
    </v-btn>
    <v-btn @click="toggleColorShow" icon>
      <v-icon>mdi-palette</v-icon>
    </v-btn>
    <v-btn @click="toggleLanguage" icon>
      <v-icon>mdi-translate</v-icon>
    </v-btn>
  </div>
</template>

<script>
import FunctionPopup from "@/components/layout/AppBarComponents/FunctionPopup";

export default {
  name: "AppBarActions",
  components: {
    FunctionPopup,
  },
  methods: {
    toggleDark() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      localStorage.dark = this.$vuetify.theme.dark;
    },
    toggleColorShow() {
      this.$store.commit("updateColor", !this.$store.state.colorShow);
    },
    toggleLanguage() {
      localStorage.language === "zh"
        ? (localStorage.language = "en")
        : (localStorage.language = "zh");
      this.$i18n.locale = localStorage.language;
      this.Bus.$emit("setSnackbar", this.$i18n.t("snackbar.switchLanguage"));
    },
  },
};
</script>
