<template>
  <v-autocomplete
    v-model="searched"
    return-object
    flat
    :items="dists"
    item-text="name"
    item-value="name"
    :solo-inverted="!this.$vuetify.theme.dark"
    :solo="this.$vuetify.theme.dark"
    hide-details
    prepend-inner-icon="mdi-magnify"
    :label="searchLabel"
    class="hidden-sm-and-down"
    style="user-select: none"
  >
    <template v-slot:no-data>
      <v-list-item>
        <v-list-item-title>{{ $t("search.notFound") }}</v-list-item-title>
      </v-list-item>
    </template>
    <template v-slot:item="{ item }">
      <v-list-item-avatar
        color="primary"
        class="headline font-weight-light white--text"
      >
        <v-icon dark>mdi-{{ icon(item.icon) }}</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title v-text="item.name"></v-list-item-title>
        <v-list-item-subtitle v-text="item.name"></v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-action>
        <v-icon>mdi-arrow-right-circle</v-icon>
      </v-list-item-action>
    </template>
  </v-autocomplete>
</template>
<script>
import dists from "@/assets/data/doc.json";
export default {
  data: () => ({
    dists: dists.app.concat(dists.linux),
    searched: null,
  }),
  methods: {
    icon: function (dist) {
      if (typeof dist != "undefined") {
        return dist;
      } else {
        return "package-variant-closed";
      }
    },
  },
  watch: {
    searched() {
      if (this.searched.info.startsWith("app/")) {
        this.$router.push("/" + this.searched.info);
      } else {
        this.$router.push("/" + this.searched.info + "/" + this.searched.name);
      }
    },
  },
  computed: {
    searchLabel() {
      return this.$i18n.t("search.label");
    },
  },
};
</script>
