<template>
  <v-footer color="primary" dark inset class="pt-3 pb-3">
    <v-row class="text-center">
      <v-col cols="12">
        <v-btn text icon @click="openLink('https://github.com/uestclug')">
          <v-icon>mdi-github</v-icon>
        </v-btn>
        <v-btn
          text
          icon
          @click="openLink('https://t.me/joinchat/LgGQ2VXKXVu9fJpOlNgSDA')"
        >
          <v-icon>mdi-telegram</v-icon>
        </v-btn>
        <v-btn text icon @click="openLink('mailto:lug.uestc@gmail.com')">
          <v-icon>mdi-email</v-icon>
        </v-btn>
        <v-btn
          text
          icon
          @click="openLink('https://jq.qq.com/?_wv=1027&k=54iKK8Y')"
        >
          <v-icon>mdi-qqchat</v-icon>
        </v-btn>
      </v-col>
      <v-divider class="ma-1" />
      <v-col cols="12">
        UESTC Mirrors &copy; {{ new Date().getFullYear() }}
      </v-col>
    </v-row>
  </v-footer>
</template>
<script>
export default {
  name: "Footer",
  methods: {
    openLink: function (url) {
      window.open(url, "_blank");
    },
  },
};
</script>
