<template>
  <div>
    <MainAppBar />
    <v-main>
      <v-container fluid>
        <PrimaryView />
      </v-container>
    </v-main>
    <Footer />
  </div>
</template>

<script>
import MainAppBar from "@/components/layout/MainAppBar";
import PrimaryView from "@/components/Home/PrimaryView";
import Footer from "@/components/layout/Footer";

export default {
  name: "home",
  components: { MainAppBar, PrimaryView, Footer },
};
</script>
<style lang="scss" scoped></style>
