<template>
  <div style="user-select: text">
    <ExtendedAppBar :repo="thisrepo">
      <template v-slot:tabcontent>
        <v-card-subtitle class="ml-4">
          <code class="hidden-xs-only">{{ site }}/{{ thisrepo.url }}</code>
          <v-btn icon @click="copylink(site + '/' + thisrepo.url)">
            <v-icon>mdi-content-copy</v-icon>
          </v-btn>
          <v-btn text icon :href="site + '/' + thisrepo.url">
            <v-icon>mdi-folder</v-icon>
          </v-btn>
        </v-card-subtitle>
        <v-btn
          color="primary"
          dark
          absolute
          v-if="typeof thisrepo.download != 'undefined'"
          bottom
          right
          fab
          :to="'/downloadiso/' + thisrepo.download"
        >
          <v-icon>mdi-download</v-icon>
        </v-btn>
        <v-spacer />
        <v-btn
          text
          :href="thisrepo.home"
          target="_blank"
          :disabled="thisrepo.home ? false : true"
          >{{ $t("repo.visitOfficial") }}</v-btn
        >
        <v-btn
          text
          class="hidden-xs-only"
          :href="thisrepo.document"
          target="_blank"
          :disabled="thisrepo.document ? false : true"
          >{{ $t("repo.visitDocument") }}</v-btn
        >
        <v-btn text @click="toHome">{{ $t("repo.backHome") }}</v-btn>
      </template>
    </ExtendedAppBar>
    <v-main>
      <v-container fluid>
        <v-card>
          <v-row>
            <v-col cols="12">
              <RepoDocView
                :doc="thisrepo.url"
                :src="site + '/' + thisrepo.url"
              />
            </v-col>
          </v-row>
        </v-card>
      </v-container>
    </v-main>
  </div>
</template>

<script>
import ExtendedAppBar from "@/components/Repo/ExtendedAppBar";
import RepoDocView from "@/components/Repo/RepoDocView";
import repo from "@/assets/data/doc.json";

export default {
  name: "repo",
  data: () => ({}),
  components: { ExtendedAppBar, RepoDocView },
  computed: {
    thisrepo: function () {
      return this.findRepos(this.$route.params.reponame);
    },
    site: function () {
      return this.$store.state.baseURL == process.env.VUE_APP_MIRROR_URL
        ? process.env.VUE_APP_MIRROR_URL
        : this.$store.state.baseURL;
    },
  },
  methods: {
    toHome() {
      this.$router.push("/");
    },
    copylink(str) {
      this.$copyText(str);
      this.Bus.$emit("setSnackbar", this.$i18n.t("snackbar.copyLink"));
    },
    findRepos(str) {
      return repo.linux.concat(repo.app).find((obj) => {
        return obj.url === str;
      });
    },
  },
  mounted: function () {
    if (typeof this.$route.params.tab != "undefined") {
      this.tab = "tab-" + this.$route.params.tab;
    }
  },
};
</script>

<style lang="scss" scoped></style>
