<template>
  <v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" icon>
        <v-icon>mdi-information-outline</v-icon>
      </v-btn>
    </template>

    <v-card>
      <div style="user-select: text">
        <v-card-text>
          <v-row>
            <v-col cols="3" align-self="center"
              ><v-img :src="logo" :aspect-ratio="1"
            /></v-col>
            <v-col cols="9" style="cursor: default">
              <v-card-title class="headline lighten-2" primary-title>
                UESTC Mirrors
              </v-card-title>
              <v-card-subtitle
                @click.stop="dev_mode_click"
                style="user-select: none"
              >
                Insider Preview v{{ version }}
              </v-card-subtitle>
            </v-col>
          </v-row>
          <span v-html="$t('about.mainIntro')" />
        </v-card-text>
        <v-card-subtitle style="cursor: default">
          <b>{{ $t("about.subtitle") }}</b>
        </v-card-subtitle>
        <v-card-text>
          <span v-html="$t('about.subIntro')" />
        </v-card-text>
      </div>

      <v-divider></v-divider>

      <v-card-actions class="ml-3">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              v-on="on"
              @click.stop="
                open_link('https://gitlab.com/uestclug/uestc-mirrors-preview')
              "
            >
              <v-icon>mdi-xml</v-icon>
            </v-btn>
          </template>
          <span>前端代码</span>
        </v-tooltip>
        <!-- 后端代码链接暂时失效，修复后取消注释
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              icon
              @click.stop="
                open_link('https://github.com/uestclug/mirrors-sync')
              "
            >
              <v-icon>mdi-code-braces</v-icon>
            </v-btn>
          </template>
          <span>同步代码</span>
        </v-tooltip>
        -->
        <DevSettings />
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="dialog = false">
          {{ $t("close") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import logo from "@/assets/logo.png";
import DevSettings from "@/components/modal/DevSettings";
export default {
  data() {
    return {
      logo: logo,
      dialog: false,
      version: process.env.VUE_APP_VERSION_CODE,
      devModeClickCounter: 0,
    };
  },
  methods: {
    open_link: (url) => {
      window.open(url, "_blank");
    },
    dev_mode_click() {
      if (this.$store.state.devMode == false) {
        if (this.devModeClickCounter < 5) {
          if (this.devModeClickCounter > 1) {
            const snackbarText =
              "还有 " + (5 - this.devModeClickCounter) + " 次进入开发者模式";
            this.Bus.$emit("setSnackbar", snackbarText);
          }
          this.devModeClickCounter++;
        } else {
          // devModeClickCounter == 5
          localStorage.devmode = true;
          this.$store.commit("updateDevMode", true);
          this.Bus.$emit("setSnackbar", "您已进入开发者模式！");
        }
      } else {
        // devMode == true
        this.Bus.$emit("setSnackbar", "您已进入开发者模式！");
      }
    },
  },
  mounted() {
    this.devModeClickCounter = 0;
  },
  components: {
    DevSettings,
  },
};
</script>
