<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
    v-if="this.$store.state.devMode"
  >
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" icon>
        <v-icon>mdi-wrench</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-toolbar dark color="primary">
        <v-btn icon dark @click="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>{{ $t("devSettings.devOptions") }}</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-alert
        class="ml-2 mr-2 mt-4"
        border="left"
        outlined
        color="warning"
        icon="mdi-alert"
        prominent
      >
        <div class="title">{{ $t("devSettings.notesTitle") }}</div>
        {{ $t("devSettings.notesText") }}
      </v-alert>
      <v-divider></v-divider>
      <v-list three-line subheader>
        <v-subheader>{{ $t("devSettings.mirrorSrc") }}</v-subheader>
        <ManualMirrorChoose />
      </v-list>
    </v-card>
  </v-dialog>
</template>
<script>
import ManualMirrorChoose from "@/components/modal/DevSettingsItem/ManualMirrorChoose";

export default {
  data() {
    return {
      dialog: false,
    };
  },
  components: {
    ManualMirrorChoose,
  },
};
</script>
