<template>
  <div>
    <v-dialog v-model="dialog" max-width="500">
      <v-card>
        <v-card-actions>
          <v-btn
            text
            small
            @click="newsIndex += 1"
            :disabled="newsIndex == newsItem.length - 1"
          >
            <v-icon small>mdi-arrow-left</v-icon>
            {{
              newsItem.length > newsIndex + 1
                ? 15 >= newsItem[newsIndex + 1].title.length
                  ? newsItem[newsIndex + 1].title
                  : newsItem[newsIndex + 1].title.substring(0, 15) + "..."
                : $t("newsDialog.previousNotFound")
            }}
          </v-btn>
          <v-spacer />
          <v-btn text small @click="newsIndex -= 1" :disabled="newsIndex == 0">
            {{
              newsIndex != 0
                ? 15 >= newsItem[newsIndex - 1].title.length
                  ? newsItem[newsIndex - 1].title
                  : newsItem[newsIndex - 1].title.substring(0, 15) + "..."
                : $t("newsDialog.nextNotFound")
            }}
            <v-icon small>mdi-arrow-right</v-icon>
          </v-btn>
        </v-card-actions>
        <div style="user-select: text">
          <v-card-title>{{ newsItem[newsIndex].title }}</v-card-title>
          <v-card-subtitle>{{ newsItem[newsIndex].time }}</v-card-subtitle>
          <v-card-text>{{ newsItem[newsIndex].desc }}</v-card-text>
        </div>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn text @click="dialog = false" color="primary">
            {{ $t("newsDialog.close") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "NewsDialog",
  data: () => ({
    dialog: false,
    newsItem: [
      {
        title: "",
        time: "",
        desc: "",
      },
    ],
    newsIndex: 0,
    newsCount: 0,
  }),
  mounted() {
    this.Bus.$on("openNewsDialog", (msg) => {
      if (this.newsCount == 0) {
        this.newsItem = msg.newsList;
        this.newsCount = msg.newsList.length;
      }
      this.newsIndex = msg.index;
      this.dialog = true;
    });
  },
};
</script>
