<template>
  <div>
    <v-subheader>{{ $t("app.moreActions") }}</v-subheader>
    <v-card-actions class="ml-2 mb-1">
      <v-btn color="primary" large outlined to="browse">
        <v-icon left>mdi-folder</v-icon>
        {{ $t("app.viewBrowse") }}
      </v-btn>
      <v-btn color="primary" large outlined to="downloadiso">
        <v-icon left>mdi-album</v-icon>
        {{ $t("app.downloadISO") }}
      </v-btn>
    </v-card-actions>
  </div>
</template>

<script>
export default {
  name: "MoreActions",
};
</script>
