<template>
  <div>
    <PreviewAlert />

    <v-card class="mx-auto">
      <MoreActions />
      <v-list two-line subheader>
        <v-skeleton-loader
          :loading="loading"
          transition-group="fade-transition"
          type="list-item-two-line"
        >
          <v-subheader>{{ $t("news.title") }}</v-subheader>

          <v-list-item
            two-line
            v-for="(news_item, index) in newslist"
            :key="index"
            @click="OpenNewsDialog(index)"
          >
            <v-list-item-content>
              <v-list-item-title v-text="news_item.title"></v-list-item-title>
              <v-list-item-subtitle
                v-text="news_item.desc"
              ></v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action>
              <v-list-item-action-text
                v-text="news_item.time"
              ></v-list-item-action-text>
            </v-list-item-action>
          </v-list-item>
        </v-skeleton-loader>
      </v-list>
      <v-divider />
      <v-card-actions>
        <v-btn to="/status" text color="primary">{{ $t("app.status") }}</v-btn>
        <v-spacer />
        <v-btn
          text
          href="https://gitlab.com/uestclug/uestc-mirrors-preview/issues"
          target="_blank"
          color="primary"
          >{{ $t("app.feedback") }}</v-btn
        >
        <!-- 暂且将两个按钮合并为一个
        <v-btn
          text
          href="https://gitlab.com/uestclug/uestc-mirrors-preview/issues"
          target="_blank"
          color="primary"
          >问题反馈</v-btn
        >
        -->
      </v-card-actions>
    </v-card>
  </div>
</template>
<script>
import MoreActions from "@/components/Home/MoreActions";
import PreviewAlert from "@/components/Home/PreviewAlert";

export default {
  data: () => ({
    loading: false,
    newslist: [],
    loaderr: false,
  }),
  methods: {
    OpenNewsDialog(index) {
      this.Bus.$emit("openNewsDialog", {
        newsList: this.newslist,
        index: index,
      });
    },
  },
  mounted: function () {
    this.$ajax
      .get("data/news.json")
      .then((response) => (this.newslist = response.data))
      .catch(() => {
        this.loaderr = true;
      })
      .then(() => (this.loading = false));
  },
  components: {
    MoreActions,
    PreviewAlert,
  },
};
</script>
