<template>
  <v-row no-gutters>
    <v-col cols="12" md="8">
      <v-col
        style="user-select: text; cursor: default"
        class="d-flex align-self-start"
      >
        <v-card :loading="primaryloading" width="100%">
          <v-card-title class="headline justify-center ma-2">{{
            $t("app.fullName")
          }}</v-card-title>
          <v-card-subtitle class="text-center">
            <i18n path="app.mainIntro">
              <b place="uestcLug">{{ $t("uestcLug") }}</b>
              <b place="uestcNU">{{ $t("uestcNU") }}</b>
            </i18n>
            <br />
            <i18n path="app.subIntro">
              <b place="linuxCount">{{ dist_cnt.linux }}</b>
              <span place="linuxDistribution">
                {{ $t("app.linuxDistribution") }}
              </span>
              <b place="appCount">{{ dist_cnt.app }}</b>
              <span place="application">{{ $t("app.application") }}</span>
            </i18n>
          </v-card-subtitle>
        </v-card>
      </v-col>
      <v-col>
        <v-item-group v-model="selected">
          <v-row>
            <v-item
              v-for="repo_item in dists"
              :key="repo_item.id"
              v-slot:default="{ active, toggle }"
            >
              <DistInfo
                :dist="repo_item"
                :status="getStatus(repo_item.url)"
                :active="active"
                :toggle="toggle"
              />
            </v-item>
          </v-row>
        </v-item-group>
      </v-col>
    </v-col>
    <v-col cols="12" md="4">
      <v-col>
        <NewsView />
      </v-col>
    </v-col>
  </v-row>
</template>
<script>
import NewsView from "@/components/Home/NewsView";
import DistInfo from "@/components/Home/DistInfo";

import dists from "@/assets/data/doc.json";

import { StatusRegex } from "@/utils/OldParser.js";

export default {
  components: {
    NewsView,
    DistInfo,
  },
  data: () => ({
    dist_cnt: {
      linux: dists.linux.length,
      app: dists.app.length,
    },
    selected: null,
    dists: dists.app.concat(dists.linux),
    status: null,
    primaryloading: true,
  }),
  methods: {
    getStatus: function (dist_name) {
      if (this.status != null) {
        return this.status[dist_name];
      } else {
        return null;
      }
    },
  },
  mounted: function () {
    this.$ajax
      .get("https://nomirror-status.uestclug.org")
      .then((response) => (this.status = StatusRegex(response.data)))
      .then(() => (this.primaryloading = false));
  },
};
</script>
